In [29]:
import csv
import pandas as pd

In [50]:
# Specify the file you want to load
csv_filename = 'DHR.csv'

with open('DHR.csv', 'r', newline='') as csvfile:
    df1 = pd.read_csv(csvfile)

In [52]:
# Specify the file you want to load
csv_filename = 'IFF.csv'

with open('IFF.csv', 'r', newline='') as csvfile:
    df2 = pd.read_csv(csvfile)

In [54]:
# Specify the file you want to load
csv_filename = 'MRO.csv'

with open('MRO.csv', 'r', newline='') as csvfile:
    df3 = pd.read_csv(csvfile)

In [56]:
# Specify the file you want to load
csv_filename = 'RMD.csv'

with open('RMD.csv', 'r', newline='') as csvfile:
    df4 = pd.read_csv(csvfile)

In [58]:
# list of all files
csv_list=['RMD.csv', 'MRO.csv', 'IFF.csv', 'DHR.csv' ]

# create list of dataframes
df_list = [pd.read_csv(itw) for itw in csv_list]
    
# combine all the dataframes
df = pd.concat(df_list, axis=1)

# save
df.to_csv('combined_files.csv', index=False)

In [60]:
print (df)

            Date     Open     High      Low    Close  Volume  Dividends  \
0     2017-01-03   56.868   56.868   56.062   56.731  573900        0.0
1     2017-01-04   56.996   57.143   56.520   57.097  758800        0.0
2     2017-01-05   57.253   57.344   56.438   56.657  627000        0.0
3     2017-01-06   56.731   57.115   56.548   56.905  481900        0.0
4     2017-01-09   56.850   58.040   56.813   57.930  482800        0.0
...          ...      ...      ...      ...      ...     ...        ...
1505  2022-12-23  204.413  205.041  202.618  204.403  565400        0.0
1506  2022-12-27  204.963  206.444  201.931  203.000  663000        0.0
1507  2022-12-28  203.000  204.570  201.313  201.901  469300        0.0
1508  2022-12-29  204.168  206.287  203.089  205.434  658900        0.0
1509  2022-12-30  204.089  204.521  201.666  204.217  359700        0.0

      Stock Splits        Date    Open  ...  Dividends  Stock Splits  \
0              0.0  2017-01-03  15.903  ...       0.00           0.0
1              0.0  2017-01-04  15.876  ...       0.00           0.0
2              0.0  2017-01-05  16.226  ...       0.00           0.0
3              0.0  2017-01-06  16.289  ...       0.00           0.0
4              0.0  2017-01-09  15.814  ...       0.00           0.0
...            ...         ...     ...  ...        ...           ...
1505           0.0  2022-12-23  26.251  ...       0.00           0.0
1506           0.0  2022-12-27  26.774  ...       0.81           0.0
1507           0.0  2022-12-28  26.513  ...       0.00           0.0
1508           0.0  2022-12-29  25.497  ...       0.00           0.0
1509           0.0  2022-12-30  25.729  ...       0.00           0.0

            Date     Open     High      Low    Close   Volume  Dividends  \
0     2017-01-03   67.064   67.500   66.875   67.354  3205438      0.000
1     2017-01-04   67.311   68.209   67.243   67.782  3604411      0.000
2     2017-01-05   67.790   68.440   67.662   68.406  3822905      0.000
3     2017-01-06   68.389   69.013   68.166   68.765  2372861      0.000
4     2017-01-09   68.739   68.987   68.611   68.902  2614027      0.000
...          ...      ...      ...      ...      ...      ...        ...
1505  2022-12-23  226.895  229.874  226.517  228.398  1236739      0.000
1506  2022-12-27  227.923  230.859  225.690  229.294  1275091      0.000
1507  2022-12-28  230.700  233.267  227.738  227.941  1558332      0.000
1508  2022-12-29  231.178  236.246  230.237  234.768  1357322      0.222
1509  2022-12-30  234.636  235.471  230.897  233.509  1701926      0.000

      Stock Splits
0              0.0
1              0.0
2              0.0
3              0.0
4              0.0
...            ...
1505           0.0
1506           0.0
1507           0.0
1508           0.0
1509           0.0

[1510 rows x 32 columns]

In [46]:
#part 1

In [48]:
#question1

In [72]:
df['Open'].equals(df['Close'])

False

In [74]:
df1['Open'].equals(df1['Close'])

False

In [76]:
df2['Open'].equals(df2['Close'])

False

In [78]:
df3['Open'].equals(df3['Close'])

False

In [80]:
df4['Open'].equals(df4['Close'])

False

For all companies, the closing price is different from the opening price. This happens because during the opening and closing daym the price of the stock of the company is inlfuenced by several aspects such as news. This means that orders are being placed even after the markets are closed, which results in changing the prices of stocks.

In [83]:
#question 2

In [85]:
df1['Close'].min()

67.354

In [87]:
df1['Close'].max()

290.965

In [89]:
df2['Close'].min()

79.733

In [97]:
df2['Close'].max()

142.532

In [91]:
df3['Close'].min()

2.923

In [99]:
df3['Close'].max()

31.873

In [93]:
df4['Close'].min()

56.657

In [101]:
df4['Close'].max()

289.034

In [103]:
#question 3

In [105]:
import numpy as np

In [131]:
df1['log_return1']=np.log(df1.Close / df1.Close.shift(1))

In [137]:
df2['log_return2']=log_return2=np.log(df2.Close / df2.Close.shift(1))

In [139]:
df3['log_return3']=log_return3=np.log(df3.Close / df3.Close.shift(1))

In [141]:
df4['log_return4']=log_return4=np.log(df4.Close / df4.Close.shift(1))

In [127]:
#question4

In [157]:
 # Find the maximum salary per company
max_loss1 = df1.groupby('log_return1')['log_return1'].transform('max')

# Select only the rows where the salary is the maximum for the department
highest_loss_company1 = df1[df1['log_return1'] == max_loss]

print(highest_loss_company1)

            Date     Open     High      Low    Close   Volume  Dividends  \
1     2017-01-04   67.311   68.209   67.243   67.782  3604411      0.000
2     2017-01-05   67.790   68.440   67.662   68.406  3822905      0.000
3     2017-01-06   68.389   69.013   68.166   68.765  2372861      0.000
4     2017-01-09   68.739   68.987   68.611   68.902  2614027      0.000
5     2017-01-10   68.799   69.526   68.705   69.338  3945518      0.000
...          ...      ...      ...      ...      ...      ...        ...
1505  2022-12-23  226.895  229.874  226.517  228.398  1236739      0.000
1506  2022-12-27  227.923  230.859  225.690  229.294  1275091      0.000
1507  2022-12-28  230.700  233.267  227.738  227.941  1558332      0.000
1508  2022-12-29  231.178  236.246  230.237  234.768  1357322      0.222
1509  2022-12-30  234.636  235.471  230.897  233.509  1701926      0.000

      Stock Splits  log_return  log_return1
1              0.0    0.006334     0.006334
2              0.0    0.009164     0.009164
3              0.0    0.005234     0.005234
4              0.0    0.001990     0.001990
5              0.0    0.006308     0.006308
...            ...         ...          ...
1505           0.0    0.004590     0.004590
1506           0.0    0.003915     0.003915
1507           0.0   -0.005918    -0.005918
1508           0.0    0.029511     0.029511
1509           0.0   -0.005377    -0.005377

[1509 rows x 10 columns]

In [159]:
 # Find the maximum salary per company
max_loss2 = df2.groupby('log_return2')['log_return2'].transform('max')

# Select only the rows where the salary is the maximum for the department
highest_loss_company2 = df2[df2['log_return2'] == max_loss]

print(highest_loss_company2)

Empty DataFrame
Columns: [Date, Open, High, Low, Close, Volume, Dividends, Stock Splits, log_return2]
Index: []

In [161]:
 # Find the maximum salary per company
max_loss3 = df3.groupby('log_return3')['log_return3'].transform('max')

# Select only the rows where the salary is the maximum for the department
highest_loss_company3 = df3[df3['log_return3'] == max_loss]
print(highest_loss_company3)

Empty DataFrame
Columns: [Date, Open, High, Low, Close, Volume, Dividends, Stock Splits, log_return3]
Index: []

In [163]:
 # Find the maximum salary per company
max_loss4 = df4.groupby('log_return4')['log_return4'].transform('max')

# Select only the rows where the salary is the maximum for the department
highest_loss_company4 = df4[df4['log_return4'] == max_loss]

print(highest_loss_company4)

Empty DataFrame
Columns: [Date, Open, High, Low, Close, Volume, Dividends, Stock Splits, log_return4]
Index: []

In [165]:
#question 5

In [179]:
#df1['date'].week()

In [173]:
df1_group=df1.groupby('Volume')
df1_group['Volume'].mean()

Volume
668678          668678.0
689208          689208.0
847015          847015.0
979442          979442.0
1011365        1011365.0
                ...
45906216      45906216.0
59998771      59998771.0
72307733      72307733.0
83263658      83263658.0
103834430    103834430.0
Name: Volume, Length: 1465, dtype: float64

In [181]:
df2_group=df2.groupby('Volume')
df2_group['Volume'].mean()

Volume
94100          94100.0
138600        138600.0
149100        149100.0
157800        157800.0
158900        158900.0
               ...
15933300    15933300.0
16109900    16109900.0
19974800    19974800.0
30334000    30334000.0
30551300    30551300.0
Name: Volume, Length: 1455, dtype: float64

In [181]:
df2_group=df2.groupby('Volume')
df2_group['Volume'].mean()

Volume
94100          94100.0
138600        138600.0
149100        149100.0
157800        157800.0
158900        158900.0
               ...
15933300    15933300.0
16109900    16109900.0
19974800    19974800.0
30334000    30334000.0
30551300    30551300.0
Name: Volume, Length: 1455, dtype: float64

In [183]:
df3_group=df3.groupby('Volume')
df3_group['Volume'].mean()

Volume
0                    0.0
3347853        3347853.0
4065022        4065022.0
5406327        5406327.0
5786055        5786055.0
                ...
86465040      86465040.0
100806160    100806160.0
103558771    103558771.0
105292460    105292460.0
107575361    107575361.0
Name: Volume, Length: 1510, dtype: float64

In [185]:
df4_group=df4.groupby('Volume')
df4_group['Volume'].mean()

Volume
99600          99600.0
120900        120900.0
153600        153600.0
156400        156400.0
178200        178200.0
               ...
4248900      4248900.0
4356000      4356000.0
4695800      4695800.0
5881000      5881000.0
30299300    30299300.0
Name: Volume, Length: 1382, dtype: float64

In [187]:
#question6

In [203]:
df_1 = df1.groupby('log_return1')['log_return1'].transform('max')

In [205]:
df_1

0            NaN
1       0.006334
2       0.009164
3       0.005234
4       0.001990
          ...
1505    0.004590
1506    0.003915
1507   -0.005918
1508    0.029511
1509   -0.005377
Name: log_return1, Length: 1510, dtype: float64

In [207]:
df_2 = df2.groupby('log_return2')['log_return2'].transform('max')
df_2

0            NaN
1       0.001878
2      -0.011058
3      -0.000681
4      -0.003972
          ...
1505    0.005702
1506    0.006861
1507   -0.007250
1508    0.019888
1509   -0.002666
Name: log_return2, Length: 1510, dtype: float64

In [209]:
df_3 = df3.groupby('log_return3')['log_return3'].transform('max')
df_3

0            NaN
1       0.016199
2       0.007205
3      -0.016643
4      -0.027257
          ...
1505    0.027337
1506    0.007654
1507   -0.039491
1508    0.007515
1509    0.010747
Name: log_return3, Length: 1510, dtype: float64

In [215]:
df_4 = df4.groupby('log_return4')['log_return4'].transform('max')
df_4

0            NaN
1       0.006431
2      -0.007736
3       0.004368
4       0.017852
          ...
1505   -0.003931
1506   -0.006888
1507   -0.005429
1508    0.017347
1509   -0.005942
Name: log_return4, Length: 1510, dtype: float64